@charset "utf-8";
/* CSS Document */

#Nav {
	position: absolute;
	left: 387px;
	top: 77px;
	width: 694px;
	height: 26px;
	z-index: 200;
	background-color: rgba(0,0,0,.7);
}
#log {
	position: absolute;
	width: 388px;
	height: 160px;
	z-index: 300;
	left: 434px;
	top: 154px;
}
#Footer {
	position: absolute;
	left: 576px;
	top: 671px;
	width: 346px;
	height: 35px;
	z-index: 302;
}
